@import './mixins';

#socialNav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  @include flex(row, space-between, flex-start);
  padding: 10px;
  .socialBtns {
    height: 25px;
  }
}

@media (min-width: 481px) {
  #socialNav {
    grid-column: 1 / 2;
  }
}
@media (min-width: 641px) {
  #socialNav {
    grid-column: 2 / 3;
    @include flex(row, flex-end, flex-start);
    .socialBtns {
      margin-right: 10px;
    }
  }
}

@media (min-width: 961px) {
  #socialNav {
    grid-column: 2 / span 3;
    .socialBtns {
      height: 30px;
    }
  }
}

@media (min-width: 1281px) {
  // #socialNav {
  //   grid-column: 3 / span 2;
  //   padding-right: 30px;
  //   @include flex(row, space-between, flex-start);
  // }
}
