@import './mixins';

#logoSideBar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: flex-start;
  justify-self: flex-start;
  padding: 20px 0px 0px 15px;
  @include flex(row, center, center);
  // @include testBorder(red);
  #logo {
    height: 100px;
  }
}

@media (min-width: 481px) {
  #logoSideBar {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 641px) {
  #logoSideBar {
    grid-column: 2 / 3;
    justify-self: flex-start;
    #logo {
      padding-left: 90px;
      height: 150px;
    }
  }
}

@media (min-width: 961px) {
  #logoSideBar {
    grid-column: 3 / 5;
    justify-self: center;
    #logo {
      height: 200px;
    }
  }
}

@media (min-width: 1281px) {
  #logoSideBar {
    padding-top: 50px;
    grid-row: 2 / span 5;
    #logo {
      height: 325px;
    }
  }
}
