@import './mixins';

#navSideBar {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  align-self: center;
  #navLinks {
    padding-left: 10px;
    @include flex(column, center, flex-start);
    .link {
      // background: $primaryColor;
      backdrop-filter: blur(10px);
      border: 1px solid red;
      border-radius: 5px;
      padding: 2px 15px;
      margin: 10px 0px;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      color: inherit;
      &:hover {
        background-color: white;
        color: $secondaryColor;
        border: 1px solid white;
      }
    }
  }
}

@media (min-width: 481px) {
}

@media (min-width: 641px) {
  #navSideBar {
    grid-row: 3 / 5;
    #navLinks {
      .link {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 961px) {
}

@media (min-width: 1281px) {
  #navSideBar {
    #navLinks {
      .link {
        font-size: 25px;
      }
    }
  }
}
