// mobile
#success {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  backdrop-filter: blur(2px);
  #exitBtn {
    padding: 5px 15px;
    line-height: 30px;
    text-decoration: none;
    color: inherit;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 20px;
    &:hover {
      background-color: white;
      color: $secondaryColor;
    }
  }
  #successMsg {
    margin-top: 20px;
    text-align: center;
  }
}
// small tablets
@media (min-width: 481px) {
  #success {
    grid-column: 1 / span 2;
  }
}

// portrait tablets
// @media (min-width: 641px) {
// }

// landscape tablets
@media (min-width: 961px) {
  #success {
    grid-column: 1 / span 4;
    padding-bottom: 10px;
    justify-self: center;
  }
}

// laptops
// @media (min-width: 1025px) {
// }

// high res laptops and desktops
@media (min-width: 1281px) {
}
